html {
  font-family:monospace;
  font-size: 15px;
  box-sizing: border-box;
}

body {
  background: #d3c3c3;
  font-family:monospace;
  font-weight: bolder;
}


input {
  font-family:monospace;
  font-size:large;
}

input[type="text"] {
  font-family:monospace;
  width: auto;
  border: 1px solid #a28585;
  text-align: center;
  border-radius:100px;
}

table {
  font-family:monospace;
  width: 100%;
}

tr {
  display: table-row;
}

td {
  font-family:monospace;
  margin-bottom: auto;
  align: middle;
  vertical-align: inherit;
  text-align: center;
  border: none;
}

select {
  font-family:monospace;
  font-size:large;
  width: auto;
  text-align: center;
  border-radius: 500px;
  background-color: #ffffff;
  font-size: large;
}

option:checked:hover, select:focus option:checked:hover {
  background-color: #a5a2a2;
}

.button {
  font-family:monospace;
  overflow: hidden;
  padding: 12px 12px;
  transition: all 150ms linear;
  text-align: center;
  border: 0 none;
  border-radius: 100px;
}

.button:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button:active {
  transition: all 150ms linear;
  opacity: .75;
}

.button.-regular {
  color: #202129;
  background-color: #ffffff;
}

.button.-regular:hover {
  color: #ff0000;
  background-color: #000000;
  opacity: 1;
}

.button.-regular:active {
  background-color: #6f7a7a;
  opacity: 1;
}

.panel {
  font-family:monospace;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ead0d0;
  border: 1.5px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel-body {
  font-family:monospace;
  padding-left: 30px;
  padding-right: 10px;
  text-align: center;
}

.panel-default {
  border-color: #ddd;
}

p {
  margin: 10px;
}

#Topic {
  font-family:monospace;
  text-align: center;
  font-size: 23px;
}

#Topic-2 {
  font-family:monospace;
  text-align: center;
  font-size: 18px;
}

#table-1-L {
  font-family:monospace;
  width: 45%;
  float: left;
}

#table-1-R {
  font-family:monospace;
  width: 50%;
  float: left;
  text-align: left;
}

#table-2-L {
  width: 45%;
  float: left;
  margin-bottom: 0px;
}

#table-2-R {
  width: 50%;
  float: left;
  margin-bottom: 0px;
  text-align: left;
}

#table-3-L {
  width: 22%;
  float: left;
  margin-bottom: 0px;
}

#table-3-M {
  width: 50%;
  float: left;
  margin-bottom: 0px;
}

#table-3-R {
  width: 22%;
  float: left;
  margin-bottom: 0px;
}

@media (max-width:960px) {
  .panel {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width:800px) {
  .panel {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width:720px) {
  #table-2-L {
    width: 100%;
  }
  #table-2-R {
    width: 100%;
    text-align: center;
  }
}

@media (max-width:555px) {
  #table-1-L {
    font-family:monospace;
    width: 100%;
  }
  #table-1-R {
    font-family:monospace;
    width: 100%;
    text-align: center;
  }
}
